.about {
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 100px; */
    margin: 100px auto 50px;
}

.article {
    /* float: left;
    width: 45%; */
}

.achievement-box {
    /* width: 120px; */
    
    height: 122px;
    padding-left: 10px;
    border: 1px solid #c7c3c3;
}

.achievement-box__figure {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.achievement-box__desc {
    margin: 0;
}

.main {
    /* width: 45%; */
}

.main__progress {
    border-radius: 14px;
}

@media (min-width: 992px) {
    
    .achievement-box {
        flex: 0 0 150px;
    }
    .about {
        width: 1170px;
    }
}
