.appbar {
    padding-bottom: 50px;
    background: transparent;
}

.appbar .navbar .nav-item {
    margin-right: 20px;
}

.nav-item:hover {
    text-decoration: none;

}

.navbar {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav .nav-link{
    color: white;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    text-decoration: underline;
    color: white;
   
}


.logo {
    float: left;
    margin-left: 30px;
    height: 120px;
    line-height: 100%;
}

.logo__title {
    text-decoration: none;
    height: 120px;
    line-height: 120px;
}

.menu {
    float: right;
    height: 120px;
}

.menu__element {
    
    margin-right: 30px;
    display: inline-block;

}

.menu__element__item {
    height: 120px;
    line-height: 120px;
    padding-left: 35px;
    color: white;
    text-decoration: none;
}

.appbar__profile {
    margin: 30px auto;
    background: #fff;
    border-radius: 20px; 
    padding: 10px;
}

.appbar__profile__content {
    padding: 40px 20px 0 40px;
    color: #777777;
}

.appbar__profile__avatar {
    height: 100%;
    overflow: hidden;
}

.appbar__profile__avatar img {
    width: 100%;
}

@media (min-width: 992px) {
    
    .appbar__profile {
        width: 1170px;
        padding: 40px;
    }

    .navbar {
        width: 1170px;
    }

}
