.experiences {
    text-align: center;
    /* margin-bottom: 70px; */
    padding: 50px 0;
}

.timeline {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* width: 500px; */
    text-align: left;
    margin-top: 40px;
}

.timeline__period {
    color: white;
    position: relative;
}

.timeline__period__time {
    /* float: left;
    width: 220px;
    margin-top: 70px; */
    /* margin-left: 80px; */
}
.timeline__period__job h2 {
    padding-bottom: 30px;
}
.timeline__period__job p {
    color: white;
    /* margin-left: 30px; */
    /* float: right; */
}

.timeline__column {
    background: rgba(255, 255, 255, 0.2);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    display: none;
}

.timeline__dot {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 49%;
    top: 50%;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    display: none;
}

.timeline__dot__small {
    background: white;
    position: absolute;
    left: 29%;
    top: 27%;
    border-radius: 7px;
    width: 7px;
    height: 7px;
    display: none;
    
}

.experiences__button {
    border-radius: 5px;
    height: 35px;
    width: 170px;
    background: white;
    border: none;
}

.experiences__button--active {
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    color: white;
}

@media (min-width: 992px) {
    
    .timeline {
        margin-top: 100px;
        width: 700px;
    }
    .timeline__dot,
    .timeline__column,
    .timeline__dot__small{
        display: block;
    }
    .timeline__period__time {
        margin-left: 80px;
    }
    .timeline__period__job {
        margin-left: 30px;
    }
}