body {
    background: #fff;
    padding: 0;
    margin: 0;
}

body>section:nth-child(odd) {
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

.clearfix::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}