.service {
    padding: 100px 0;
}
.service p {
    color: #777777;
}

.service__header {
    
    margin-left: auto;
    margin-right: auto;
}

.service__feature {
    margin: 100px auto 0;
}

.service__feature__block {
    /* float: left; */
    /* width: 30%; */
    
    /* margin-left: 2.5%; */
    padding: 30px;
    box-sizing: border-box;
    background: white;
    border-radius: 3%;
    margin-bottom: 30px;
}
.service__feature__block i {
    margin-bottom: 35px;
    display: block;
}
.service__feature__block i:before {
    margin-left: 0px;
    font-size: 60px;
    color: #e1e1e1;
    line-height: 60px;
    
}
.service__feature__block:hover i:before  {
    background: linear-gradient(to right, #766dff 0%, #86e7ff 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.service__feature__block:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    
}
@media (min-width: 992px) {

    .service__feature__block {
        flex: 0 0 30.333333%;
    }

    .service__header { 
        width: 670px;
    }
    .service__feature {
        width: 1170px; 
    }
}