.service p {
    color: #777777;
}

.service__header {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.service__feature {
    width: 1170px;
    margin: 100px auto 0;
}

.service__feature__block {
    float: left;
    width: 30%;
    height: 270px;
    margin-left: 2.5%;
    padding-right: 3%;
    padding-left: 3%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 3%;
}