.testi {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.testi__intro,
.testi__content {
    color: #777777;
    text-align: center;
    line-height: 28px;
}

.testi__header {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.testi-list {
    display: block;
    width: 1170px;
    margin: 100px auto 0;
}

.testi-list__item {
    float: left;
    width: 30%;
    height: 270px;
    margin-left: 2.5%;
    padding-right: 3%;
    padding-left: 3%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 3%;
}